.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.buttonContainer {
}

.buttonRow {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

button {
  background-color:aliceblue;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 1em;
}

.todoListContainer {
  
}

.todoListItem {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.todoListItemText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 8px;
}

.todoInput {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
